<section class="banner">
    <div class="banner__content">
        <h2 class="banner__content--title">Inscreva-se agora e receba 20% de desconto na primeira compra</h2>

        <div class="banner__content--text">
            <p>Aproveite essa chance de transformar seu espaço com móveis incríveis e condições especiais. Seu bom gosto merece esse incentivo!</p>
            <p>Ao se cadastrar, você entra para uma lista VIP que recebe ofertas exclusivas, lançamentos em primeira mão e dicas para deixar sua casa ainda mais bonita.</p>
            <p>É simples, rápido e vale a pena. Comece sua experiência com 20% de desconto e descubra como é fácil comprar com qualidade e preço justo.</p>
        </div>
    </div>

    <div class="banner__form">
        <div class="banner__form--header">
            <h3>Seu acesso é grátis e rápido!</h3>
            <span>Preencha em segundos</span>
        </div>

        <form>
            <div>
                <label for="namePerson">Nome*</label>
                <input type="text" name="namePerson" id="namePerson" required>
            </div>
            <div>
                <label for="emailPerson">Email*</label>
                <input type="email" name="emailPerson" id="emailPerson" required>
            </div>
            <div>
                <label for="phonePerson">Telefone</label>
                <input type="text" name="phonePerson" id="phonePerson" required>
            </div>

            <div>
                <input type="submit" value="Inscrever-se">
            </div>
        </form>
        
        <span class="banner__form--info">Ao informar meus dados, eu concordo com a Política de privacidade *</span>
    </div>
</section>