<section class="about">
    <div class="about__content">
        <h2 class="about__content--title">Quem Somos</h2>
        <h3 class="about__content--subtitle">Conheça a nossa forma de ver o mundo</h3>
        <p class="about__content--text">Acreditamos em uma prestação de serviço transparente e confiável, Somos Especialistas em móveis planejados sob medida. Combinamos design exclusivo e alta qualidade para atender 100% das suas expectativas. Com preços justo e excelência fazemos o que está a nosso alcance para garantir sua satisfação, fale conosco e transforme seu ambiente com móveis de alta qualidade, estamos ansiosos pela oportunidade de te atender.</p>
        <a href="#contact" class="about__content--button">Entrar em contato</a>
    </div>
    <div class="about__img"></div>
</section>