<section class="about">
    <div class="about__content">
        <h3 class="about__content--title">Quem Somos</h3>
        <p class="about__content--text">A <strong>AMCK Planejados</strong> é referência em móveis sob medida no Rio de Janeiro, unindo sofisticação, funcionalidade e durabilidade em cada projeto. Fundada por <strong>Alessandro Silva da Cruz</strong>, profissional com mais de <strong>10 anos de experiência no setor</strong>, nossa empresa se destaca pelo uso de materiais de alta qualidade e pelo compromisso em entregar soluções personalizadas que atendam às suas necessidades e preferências. <br><br>
        Nosso diferencial está na <strong>transparência, confiança e excelência</strong>. Trabalhamos com um atendimento personalizado para garantir que cada detalhe do seu ambiente reflita seu estilo e conforto, sempre com <strong>preços justos e prazos cumpridos</strong>. <br><br>            
        Seja para sua casa ou empresa, a <strong>AMCK Planejados</strong> está pronta para transformar seu espaço. Fale conosco hoje mesmo e descubra como podemos criar o ambiente dos seus sonhos com móveis planejados sob medida!</p>
        <a href="#contact" class="about__content--button">Entrar em contato</a>
    </div>
    <div class="about__img"></div>
</section>