<header class="header" [class.menuOpen]="menu">
    <div class="header__top">
        <h1 class="header__top--logo">AMCK</h1>
        
        <div class="header__top--icon" (click)="hendleMenu()">
            <ng-icon [name]="menuIcon" />
        </div>
    </div>

    <div class="header__links">
        <nav class="header__links--nav">
            <a routerLink="/">Home</a>
            <a routerLink="contato">Contato</a>
            <a routerLink="servicos">Serviços</a>
            <div  class="header__links--nav__dropdown">
                <button (click)="hendleDropdown()">Ambientes <ng-icon [name]="dropdownIcon" /></button>
                @if (dropdown) {
                    <nav>
                        <a routerLink="salas">Sala</a>
                        <a routerLink="quartos">Quarto</a>
                        <a routerLink="cozinhas">Cozinha</a>
                        <a routerLink="banheiros">Banheiro</a>
                    </nav>
                }
            </div>
        </nav>
    
        <a routerLink="desconto" class="header__links--discount">20% de desconto</a>
    </div>
</header>