@import "../../../assets/styles/variables";

.header {
    display: flex;
    flex-direction: column;
    background-color: $primary-color-light;
    position: fixed;
    right: 0;
    left: 0;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        &--btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.7rem;
            color: $second-color-light;
        }

        &--title {
            font-size: 1.5rem;
            color: $second-color-light;
        }
    }

    &__nav {
        height: 0;
        overflow: hidden;
        background-color: $second-color;
        transition: all .3s ease;

        &--list {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 1rem 1.2rem;
            list-style: none;

            li a {
                text-decoration: none;
                font-size: 1rem;
                font-weight: 800;
                color: $primary-color-dark;
                cursor: pointer;
            }
        }
    }
}


@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &__menu {
            &--btn {
                display: none;
            }
        }

        &__nav {
            height: 100%;
            background-color: transparent;

            &--list {
                flex-direction: row;
                align-items: center;

                li a {
                    color: $second-color-light;
                    font-weight: 700;
                }
            }
        }
    }
}

.openMenu {
    height: 30vh !important;
}