<header class="header">
    <div class="header__menu" (click)="hendleMenu()">
        <ng-icon [name]="menuIcon"></ng-icon>
    </div>

    <h1 class="header__title">AMCK PLANEJADOS</h1>

    <nav>
        <ul class="header__navlist">
            <li><a href="#projects">Projetos</a></li>
            <li><a href="#stages">Etapas</a></li>
            <li><a href="#faq">Depoimentos</a></li>
            <li><a href="#about">Quem Somos</a></li>
            <li><a href="#contact">Contato</a></li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="#contact">Fale conosco</a>
    </div>
</header>

<nav>
    <ul class="menu-mobile" [class.menu-open]="menu">
        <li><a href="#projects">Projetos</a></li>
        <li><a href="#stages">Etapas</a></li>
        <li><a href="#faq">Depoimentos</a></li>
        <li><a href="#about">Quem Somos</a></li>
        <li><a href="#contact">Contato</a></li>
    </ul>
</nav>