<header class="header">
    <div class="header__menu">
        <div class="header__menu--btn" (click)="hendleMenu()">
            <ng-icon [name]="menuIcon"></ng-icon>
        </div>

        <h1 class="header__menu--title">AMCK Planejados</h1>
    </div>

    <nav class="header__nav" [class.openMenu]="hendleMenuIcon">
        <ul class="header__nav--list">
            <li><a href="#projects">Projetos</a></li>
            <li><a href="#phases">Etapas</a></li>
            <li><a href="#depoiments">Depoimentos</a></li>
            <li><a href="#aboutUs">Quem somos</a></li>
            <li><a href="#contact">Contato</a></li>
        </ul>
    </nav>
</header>