<div class="budget-confirmation">
    <h4 class="budget-confirmation__title">Seus dados estão corretos?</h4>

    <div class="budget-confirmation__content">
        <div>
            <h5>Nome:</h5>
            <span>Deivid Barreto da Cruz</span>
        </div>
        <div>
            <h5>Email:</h5>
            <span>deividbarreto57gmail.com</span>
        </div>
        <div>
            <h5>Tel:</h5>
            <span>21977201714</span>
        </div>
        <div>
            <h5>Endereço:</h5>
            <span>Rua Pinheiro da Cunha, 85</span>
        </div>
        <div>
            <h5>Ambiente:</h5>
            <span>Cozinha</span>
        </div>
        <div>
            <h5>Estimativa:</h5>
            <span>R$ 5.000</span>
        </div>
    </div>

    <div class="budget-confirmation__buttons">
        <button (click)="closeModal()">Confirmar</button>
        <button (click)="closeModal()">Editar</button>
    </div>
</div>
