@use "../../../../assets/styles/variables" as *;

.banner {
    display: grid;
    gap: 2rem;
    padding: 2rem 0;
    background-color: $clr-primary-a0;
    color: $clr-secundary-a0;
    
    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 1rem;

        &--title {
            font-size: 3rem;
            font-weight: 800;
            color: $clr-secundary-a0;
        }

        &--text {
            line-height: 1.4rem;
        }

        &--links {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                text-decoration: none;
                font-weight: 800;
                align-self: start;
                padding: 1rem;
                border-radius: 2rem;
                
                &:first-child {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    background-color: $clr-secundary-a0;
                    color: $clr-primary-a0;
                }

                &:last-child {
                    color: $clr-secundary-a0;
                    border: 2px solid $clr-secundary-a0;
                }
            }
        }
    }

    &__img {
        width: 100%;
        max-width: 40rem;
        align-self: center;
        height: 70vh;
        background: url(../../../../../public/images/logos/logo-amck-removebg-preview.png) no-repeat center / cover;
    }
}

@media(min-width: 768px) {
    .banner {   
        justify-content: center;
        min-height: 100vh;
        gap: 4rem;

        &__content {
            max-width: 45rem;

            &--title {
                max-width: 30rem;
            }

            &--text {
                max-width: 35rem;
            }

            &--links {
                flex-direction: row;
            }
        }
    }
}

@media(min-width: 1024px) {
    .banner {
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 0;
        padding: 2rem 3rem;

        &__content {
            gap: 2rem;

            &--title {
                font-size: 3.2rem;
                max-width: 30rem;
            }

            &--text {
                font-size: 1.2rem;
            }
        }

        &__img {
            height: 60vh;
            width: 30rem;
        }
    }
}