<section class="banner">
    <div class="banner__content">
        <h2 class="banner__content--title">Móveis Planejados de alta qualidade!</h2>
        <p class="banner__content--text">Com móveis planejados, cada espaço é pensado para você — para sua rotina, seu gosto, suas necessidades. Nada de cantinhos desperdiçados, bagunça sem solução ou aquele armário que nunca encaixa direito.</p>

        <div class="banner__content--links">
            <a href="#contact">Fazer Orçamento <ng-icon name="matArrowForward" /></a>
            <a href="#">Conheça nosssa Loja</a>
        </div>
    </div>

    <div class="banner__img"></div>
</section>