@use "../../../../assets/styles/variables" as *;

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem;

    &__title {
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
    }

    &__questions {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }
}

@media(min-width: 768px) {
    .faq {
        min-height: 100vh;
    }
}