<section class="projects">
    <h2 class="titles-section">Nossos projetos</h2>

    <div class="projects__images">
        <img src="../../../assets/images/img1.jpeg" alt="imagem de um projeto da AMCK Planejados">
        <img src="../../../assets/images/img2.jpeg" alt="imagem de um projeto da AMCK Planejados">
        <img src="../../../assets/images/img3.jpeg" alt="imagem de um projeto da AMCK Planejados">
        <img src="../../../assets/images/img4.jpeg" alt="imagem de um projeto da AMCK Planejados">
        <img src="../../../assets/images/img5.jpeg" alt="imagem de um projeto da AMCK Planejados">
        <img src="../../../assets/images/img6.jpeg" alt="imagem de um projeto da AMCK Planejados">
        <img src="../../../assets/images/img7.jpeg" alt="imagem de um projeto da AMCK Planejados">
        <img src="../../../assets/images/img8.jpeg" alt="imagem de um projeto da AMCK Planejados">
        <img src="../../../assets/images/img9.jpeg" alt="imagem de um projeto da AMCK Planejados">
    </div>
</section>