@use "../../../../../assets/styles/variables" as *;

.question {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    border-bottom: 1px solid #000;
    
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
        background-color: transparent;
        padding: 1rem.5rem .5rem;
        
        &--arrow {
            font-size: 1.2rem;
        }

        &--question {
            font-weight: 600;
        }
    }

    &__response {
        height: 0;
        overflow: hidden;
        padding: 0 1rem;
        color: #121212;
        transition: all .5s ease;
    }
    
    .openFaq {
        height: 8rem;
        padding: 1rem;
    }
}

@media(min-width: 768px) {
    .question {
        .openFaq {
            height: 5rem; 
        }
    }
}


@media(min-width: 1024px) {
    .question {
        cursor: pointer;
    }
}