<footer class="footer">
    <div class="footer__top">
        <h3 class="footer__top--title">AMCK Planejados</h3>
        <div>
            <nav class="footer__top--nav">
                <h5 class="footer__top--nav__title">Navegação</h5>
                <ul class="footer__top--nav__list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Ambientes</a></li>
                    <li><a href="#">Desconto</a></li>
                    <li><a href="#">Quem somos</a></li>
                </ul>
            </nav>

            <nav class="footer__top--nav">
                <h5 class="footer__top--nav__title">Privacidade</h5>
                <ul class="footer__top--nav__list">
                    <li><a routerLink="terms">Termos de uso</a></li>
                    <li><a href="#">Políticas de Privacidade</a></li>
                </ul>
            </nav>

            <nav class="footer__top--nav">
                <h5 class="footer__top--nav__title">Contato</h5>
                <ul class="footer__top--nav__list">
                    <li><a [href]="email" target="_blank">amck.suporte&#0064;gmail.com</a></li>
                    <li><a [href]="ulrFinal" target="_blank">(21) 98058-7193</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="footer__down">
        <span>&copy; 2025 - Todos os direitos reservados</span>
    </div>
</footer>