<section class="warning">
    <div class="warning__popup">
        <div class="warning__popup--title">
            <div class="warning__popup--title__icon"><ng-icon name="matWarningAmber" /></div>
            <h2>Atenção</h2>
        </div>

        <div class="warning__popup--text">
            <p>Estamos trabalhando em melhorias para nosso sistema, com isso as páginas de ambientes  não estão disponíveis no momento. Esperamos que entendam nossa situção!</p>
            <p>Aproveite esse tempo para nos seguir em nossas redes sociais e ficar por dentro das novidades!</p>
        </div>

        <div class="warning__popup--networks">
            <a href="https://wa.me/{{phoneNumber}}?text={{message}}" target="_blank">
                <ng-icon name="whats" />
            </a>

            <a href="https://www.instagram.com/amck_planejados/" target="_blank">
                <ng-icon name="insta" />
            </a>

            <a href="https://www.youtube.com/channel/UC4jeO4TTbn9MghsdNxqUXQg" target="_blank">
                <ng-icon name="youtube" />
            </a>
        </div>
    </div>
</section>