<section class="faq__container">
    <h2 class="titles-section">Perguntas Frequentes</h2>

    <div class="faq__container--questions">
        <app-questions
            question="Quais são meios de pagamentos?"
            response="Além da possibilidade de parcelamento por meio de maquininha, também temos como meios de pagamentos: pix, débito, crédito e dinheiro vivo"
        ></app-questions>
        
        <app-questions
            question="Vocês oferecem garantia para os móveis planejados?"
            response="Resposta da pergunta"
        ></app-questions>

        <app-questions
            question="Qual é o prazo médio para entrega dos móveis planejados?"
            response="Resposta da pergunta"
        ></app-questions>

        <app-questions
            question="É possível fazer alterações no design depois que o projeto foi aprovado?"
            response="Resposta da pergunta"
        ></app-questions>

        <app-questions
            question="Posso agendar uma visita para medição e orçamento?"
            response="Resposta da pergunta"
        ></app-questions>

        <app-questions
            question="Posso solicitar um projeto sem compromisso?"
            response="Resposta da pergunta"
        ></app-questions>

    </div>
</section>