<section class="faq__container">
    <h2 class="titles-section">Perguntas Frequentes</h2>

    <div class="faq__container--questions">
        <app-questions
            question="Quais são meios de pagamentos?"
            response="Além da possibilidade de parcelamento por meio de maquininha, também temos como meios de pagamentos: pix, débito, crédito e dinheiro vivo"></app-questions>

        <app-questions question="Pergunta 2"
            response="Resposta 2"></app-questions>
        <app-questions question="Pergunta 3"
            response="Resposta 3"></app-questions>
        <app-questions question="Pergunta 4"
            response="Resposta 4"></app-questions>
        <app-questions question="Pergunta 5"
            response="Resposta 5"></app-questions>
    </div>
</section>