.faq-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
    margin: 2rem 0;

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    &__questions {
        display: grid;
    }
}

@media(min-width: 768px) {
    .faq-container {
        align-items: center;
        gap: 3rem;
        &__questions {
            grid-template-columns: 40rem;
        }
    }
}

@media(min-width: 1024px) {
    .faq-container {
        &__questions {
            grid-template-columns: 50rem;
        }
    }
}