<section class="feedbacks">
    <h2 class="feedbacks__title">Transformando ambientes em amizades duradouras</h2>

    <div class="feedbacks__cards">
        @for (item of comments; track $index) {
            <div class="feedbacks__cards--card">
                <div class="feedbacks__cards--card--stars">
                    <ng-icon name="matStar" />
                    <ng-icon name="matStar" />
                    <ng-icon name="matStar" />
                    <ng-icon name="matStar" />
                    <ng-icon name="matStar" />
                </div>
                <p class="feedbacks__cards--card--text">{{ item.text }}</p>
            </div>
        }
    </div>
</section>
