<section class="newsletter">
    <div class="newsletter__text">
        <h2>Inscreva-se agora e receba até 20% de desconto na primeira compra!</h2>
        <p>Ao se cadastrar, você entra para uma lista VIP que recebe ofertas exclusivas, lançamentos em primeira mão e dicas para deixar sua casa ainda mais bonita. É simples, rápido e vale a pena.</p>
    </div>
    <form>
        <div>
            <label for="n-name">Nome*</label>
            <input type="text" name="n-name" id="n-name" required>
        </div>

        <div>
            <label for="n-email">Email*</label>
            <input type="email" name="n-email" id="n-email" required>
        </div>

        <div>
            <label for="n-tel">Telefone*</label>
            <input type="tel" name="n-tel" id="n-tel">
        </div>

        <input type="submit" value="Inscreva-se">
    </form>
</section>