.banner {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url(../../../assets/images/img1.jpg) no-repeat center center / cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.349);

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 1rem;
        max-width: 35rem;

        &--title {
            font-size: 1.8rem;
        }
    }
}

@media(min-width: 768px) {
    .banner {
        &__content {
            padding: 0 3rem;
        }
    }
}

@media(min-width: 1024px) {
    .banner {
        background-attachment: fixed;

        &__content {

            max-width: 45rem;
            padding: 0 5rem;

            &--title {
                font-size: 2.2rem;
            }

            &--text {
                font-size: 1.1rem;
            }
        }
    }
}

@media(min-width: 1440px) {
    .banner {
        &__content {
            max-width: 50rem;
            padding: 0 8rem;
        }
    }
}