<section class="banner">
    <div class="banner__content">
        <h2 class="banner__content--title">Transforme Seus Ambientes com Móveis Planejados Sob Medida</h2>
        <p class="banner__content--text">
            A otimização do espaço é fundamental para conforto e usabilidade.
            Planejamos 100% do seu ambiente para seu melhor aproveitamento,
            solicite agora mesmo conosco um orçamento!
        </p>
        <a href="#contact" class="button-contact">Solicite um orçamento</a>
    </div>
</section>
