@import "../../../assets/styles/variables";

.banner {
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #000000bb 40%, #fff), url(../../../assets/images/img1.jpg) no-repeat center / cover;
    background-blend-mode: multiply;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 1rem;
        max-width: 35rem;

        &--title {
            font-size: 1.8rem;
            color: $second-color-light;
        }

        &--text {
            color: $second-color-light;
        }
    }
}

@media(min-width: 768px) {
    .banner {
        &__content {
            padding: 0 3rem;
        }
    }
}

@media(min-width: 1024px) {
    .banner {
        background-attachment: fixed;

        &__content {

            max-width: 45rem;
            padding: 0 5rem;

            &--title {
                font-size: 2.2rem;
            }

            &--text {
                font-size: 1.1rem;
            }
        }
    }
}

@media(min-width: 1440px) {
    .banner {
        &__content {
            max-width: 50rem;
            padding: 0 8rem;
        }
    }
}