@use "../../../assets/styles/variables" as *;

.whats {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-default;
    background-color: $whatsapp-bg; // #00b600
    border-radius: 100%;
    font-size: 2rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
}

@media(min-width: 1024px) {
    .whats {
        cursor: pointer;
    }
}