.budget-confirmation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    position: absolute;
    background-color: #ccc;

    &__title {
        font-size: 2rem;
        font-weight: 800;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        div {
            display: flex;
            align-items: center;
        }
    }
}