<section class="stages">
    <h2 class="stages__title">Etapas do projeto</h2>

    <div class="stages__cards">

        <div class="stages__cards--card" *ngFor="let stage of stages; let i = index">
            <div class="stages__cards--card__head">
                <span>{{ i+1 }}°</span>
                <h3>{{ stage.title }}</h3>
            </div>
            <p class="stages__cards--card__text">{{ stage.text }}</p>
        </div>
        
    </div>
</section>

<!-- 
https://www.simonetto.com.br/planejados/moveis-planejados-3/?gad_source=1&gclid=CjwKCAiAlPu9BhAjEiwA5NDSA7ACIYOycvPGDo0-Lno14sYimUwoq4YNgThOx2NVWvXUyerQBih0nxoCl00QAvD_BwE
-->