<section class="contact">
    <div class="contact__content">
        <h2>Entrar em contato</h2>
        <div class="contact__content--text">
            <p>Se você deseja dar um trato no visual do seu ambiente e torna-lo mais confortável, você está no lugar certo!</p>
            <p>A AMCK Planejados tem como um de seus princípios não somente
            oferecer móveis formidáveis e funcionais, mas também um ambiente de
            lazer aconchegante que oferece uma excelente experiência ao
            cliente.</p>
            <p>Entre em contato conosco e eleve seu padrão de conforto.</p>
        </div>
        <div class="contact__content--icons">
            <a href="https://wa.me/{{phoneNumber}}?text={{message}}" target="_blank">
                <ng-icon name="whats" />
            </a>
            <a href="https://www.instagram.com/amck_planejados/" target="_blank">
                <ng-icon name="insta" />
            </a>
            
            <a href="https://www.youtube.com/channel/UC4jeO4TTbn9MghsdNxqUXQg" target="_blank">
                <ng-icon name="youtube" />
            </a>
        </div>
    </div>

    <form class="contact__form" [formGroup]="emailContactMessageForm" (submit)="sendEmail()">
        <div>
            <label for="name">Nome</label>
            <input type="text" id="name" placeholder="Digite seu nome" name="name" formControlName="name" autocomplete="off">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Digite seu email" name="email" formControlName="email" autocomplete="off">
        </div>

        <div>
            <label for="msg">Mensagem</label>
            <textarea name="message" id="msg" placeholder="Digite sua mensagem" name="message" 
            formControlName="message" autocomplete="off"></textarea>
        </div>

        <div>
            <input type="submit" value="Enviar">
        </div>
    </form>
</section>