<section class="about" id="about">
    <div class="about__content">
        <h3 class="about__content--title">Sobre nós</h3>
        <div class="about__content--text">
            <p>Somos uma empresa de móveis planejados sob medida que atua no Rio de Janeiro. Com mais de 10 anos de experiência no setor, Alessandro Cruz, fundador da AMCK, tem em mente tudo que você precisa para ter um armário bem feito.</p>
            <p>Todos os nossos móveis são fabricados com madeira 100% MDF, para garantir um padrão de qualidade superior ao convencional.</p>
            <p>Trabalhamos com um atendimento personalizado para garantir que cada detalhe do seu ambiente esteja do jeito que você imagina. Sempre buscamos oferecer preços justos e cumprir os prazos pré-estabelecido, firmando uma parceria de sucesso com o cliente!</p>
            <p>Seja para sua casa ou empresa, a AMCK Planejados está pronta para transformar seu espaço em um ambiente confortável, bonito e bem aproveitado. Fale conosco e solicite um orçamento sem compromisso. É rápido, fácil e vale a pena!</p> 
        </div>
    </div>
</section>