<section class="about">
    <div class="about__content">
        <h3 class="about__content--title">Sobre nós</h3>
        <div class="about__content--text">
            <p>Somos uma empresa de móveis planejados sob medida que atua no Rio de Janeiro. Com mais de 10 anos de experiência no setor, Alessandro Cruz, fundador da AMCK, tem em mente tudo que você precisa para ter um ambiente mais agradável, garantindo praticidade e qualidade em cada projeto</p>
            <p>Todos os nossos móveis são produzidos com materiais de alta qualidade, assim, nossos projetos são 100% MDF, focando sempre em oferecer uma qualidade acima do padrão.</p>
            <p>Trabalhamos com um atendimento personalizado para garantir que cada detalhe do seu ambiente esteja do jeito que você imagina. Além disso, sempre buscamos oferecer preços justos e cumprir os prazos pré estabelecido.</p>
            <p>Seja para sua casa ou empresa, a AMCK Planejados está pronta para transformar seu espaço. Fale conosco hoje mesmo e descubra como podemos criar o ambiente dos seus sonhos com móveis planejados sob medida!</p> 
        </div>
        <!-- <a href="#contact" class="about__content--button">Entrar em contato</a> -->
    </div>
</section>