@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "./assets/styles/animations";

body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// estilização da barra lateral
::-webkit-scrollbar {
    width: .8rem;

    // estiliza a barra de rolagem
    &-thumb {
        background-color: #591f12;
        border: 2px solid transparent;
        border-radius: 1rem;
        background-clip: padding-box;
    }

    // estiliza a trilha
    &-track {
        background-color: #FFFBF6;
    }
}
