@import "./assets/styles/variables";
@import "./assets/styles/utils/titles";
@import "./assets/styles/utils/buttons";

body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $font-Poppins;
}