$clr-light: #FFF;
$clr-dark: #000;

$clr-primary-a0: #591f12;
$clr-primary-a10: #6C3628;
$clr-primary-a20: #804d3f;
$clr-primary-a30: #926558;
$clr-primary-a40: #a57d71;
$clr-primary-a50: #b7968c;

$clr-secundary-a0: #FFFBF6;

$clr-surface-a0: #0D0D0D;
$clr-surface-a10: #242424;
$clr-surface-a20: #3b3b3b;
$clr-surface-a30: #545454;
$clr-surface-a40: #6e6e6e;
$clr-surface-a50: #898989;