// Colors
$black-default: #000;
$white-default: #FFF;
$black-light: #141414; // p25
$white-light: #f1f1f1;
$gray-light: #ccc;
$gray-dark: #35363A;
$stars-feedback-color: GOLD;
$whatsapp-bg: #08C108;

$p11: #5a5239;
$p12: #190a12;
$p13: #b3c9c1;
$p14: #cec7b6;
$p15: #eee9c7;

$p21: #1b325f;
$p22: #9cc4e4;
$p23: #e9f2f9;
$p24: #3a89c9;
$p25: #190a12;

$p31: #738c79;
$p32: #7890a8;
$p33: #304878;
$p34: #e7edea;