<section class="banner">
    <div class="banner__content">
        <h2 class="banner__content--title">O que fazemos?</h2>
        <div class="banner__content--text">
            <p>Cada ambiente possui características únicas e exige soluções que respeitem sua identidade. Por esse motivo, trabalhamos com móveis planejados sob medida, projetados para atender plenamente às necessidades específicas de cada cliente e espaço.</p>
            <p>Nosso compromisso é criar móveis que combinem utilidade e beleza, garantindo que cada peça se encaixe perfeitamente. Entregamos projetos pensados para aproveitar seu espaço e refletir seu gosto e preferência.</p>
            <p>Sua casa merece móveis que não te dê dor de cabeça. Com a gente você tem qualidade e suporte em todo o processo de fabricação, além de um preço que cabe no seu bolso. Vamos planejar juntos a melhor solução para você!</p>
        </div>
        <a href="#budget">Fazer orçamento</a>
    </div>

    <div class="banner__environments">
        @for (item of environments; track $index) {
            <div class="banner__environments--item">
                <!-- <h3>{{ item.title }}</h3> -->
                <img [src]="item.pathImg" alt="imagem do banner" class="banner__environments--item__img">
            </div>
        }
    </div>
</section>