@use "../../../../../../assets/styles/variables" as *;

.banner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: url(/images/pexels/img9.jpg) no-repeat fixed bottom / cover #00000090;
    background-blend-mode: color;
    color: $clr-light;
    padding: 1rem;
    min-height: 100vh;

    
    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 6rem;

        &--title {
            font-size: 3rem;
        }

        &--text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p {
                line-height: 1.4rem;
                font-weight: 300;
                font-size: .9rem;
            }
        }

        a {
            text-decoration: none;
            font-weight: 700;
            align-self: start;
            padding: .8rem 1rem;
            border: 2px solid $clr-light;
        }
    }

    &__environments {
        display: grid;
        gap: 1rem;

        &--item {
            position: relative;
            height: 12rem;
            width: 100%;
            max-width: 20rem;

            img {
                object-fit: cover;
            }
        }
    }
}

@media(min-width: 768px) {
    .banner {
        align-items: center;

        &__content {
            text-align: center;
            width: 75%;

            a {
                align-self: center;
            }
        }

        &__environments {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;
        }


    }
}

@media(min-width: 1024px) {
    .banner {
        flex-direction: row;
        padding: 1rem 2rem;

        &__content {
            width: 50%;
            align-self: start;
            text-align: left;

            &--text {
                p {
                    font-size: 1rem;
                }
            }

            a {
                align-self: start;
            }
        }

        &__environments {
            width: 50%;
            margin-top: 4rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            place-items: center;
        }
    }
}